@model CourseManagmentSystem.Models.User
@{
    ViewBag.Title = "Subscriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin:0px;">
    <div class="col-sm-3">
        <h2 style="padding-top:10px;">My Subscriptions</h2>
    </div>
    <div class="col-sm-5" style="padding-top: 20px;">
    </div>
    <div class="col-sm-4" style="padding-top: 15px;">
        <dl class="dl-horizontal" style="margin-bottom:5px;">

            <dt>
                Username
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
</div>



@foreach (var enrollment in Model.Enrollments)
{
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(model => enrollment.Course.name)</h3>
            </div>
            <div class="panel-body">
                <div style="height: 100px;  overflow: hidden">
                    <p>@Html.DisplayFor(model => enrollment.Course.description)</p>
                </div>
                <br />
                <a href="#" class="btn btn-info">More</a>
            </div>
        </div>
    </div>

}



<br style="clear: both;">



