################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CourseManagmentSystem/.vs/CourseManagmentSystem/v14/.suo
