@model CourseManagementSystem.Models.CourseMessage
    
<div class="panel panel-primary" style="margin:5px;height:200px;">
    <div class="panel-body" style="margin-left: 37px; margin-right: 37px">
        <div class="row">
            <div class="text-left">
                <b>@Model.User.Name</b>
            </div>
            <div class="text-left">
                <b>@Model.CreationDateTime</b>
            </div>
        </div>
        <div class="row">
            <br />
            @Html.Label(Model.Text, new {style="font-weight: normal"})
        </div>
    </div>
</div>