@model CourseManagmentSystem.Models.Course
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-8  col-xs-8">
        <h3>@Html.DisplayFor(model => model.name)</h3>
        @Html.DisplayFor(model => model.description)
    </div>
    <div class="col-sm-4  col-xs-4">
        <a href="#" class="btn btn-info" style="float: right; margin-top: 20px">Subscribe</a>
    </div>
</div>
<hr />
<ul class="breadcrumb" style="background-color: white;">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li class="active">Course name</li>
</ul>
<div class="list-group" style="font-size: large;">
    <div class="list-group-item">
        <div class="row">
            <div class="col-sm-8 col-xs-6 col-lg-9">
                @Html.ActionLink("Lesson name","Details","Lesson")
            </div>
            <div class="col-sm-2 col-xs-2 col-lg-1" style="text-align: right">
                <a href="#">Forum</a>
            </div>
            <div class="col-sm-2 col-xs-3  col-lg-1" style="text-align: right">
                <a href="#">Questions</a>
            </div>
            <div class="col-sm-1 col-xs-1  col-lg-1" style="text-align: right">
                Mark
            </div>
        </div>
    </div>
    @foreach (var lesson in Model.Lessons)
    {
        <div class="list-group-item">
            <div class="row">
                <div class="col-sm-8 col-xs-6">
                    <a href="#">Lesson name</a>
                </div>
                <div class="col-sm-2 col-xs-2" style="text-align: right">
                    <a href="#">Forum</a>
                </div>
                <div class="col-sm-2 col-xs-3" style="text-align: right">
                    <a href="#">Questions</a>
                </div>
                <div class="col-sm-1 col-xs-1" style="text-align: right">
                    Mark
                </div>
            </div>
        </div>
    }
</div>

<p>
    <a href="#">Forum</a>
</p>
