
@model CourseManagmentSystem.Models.Course

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>(Something informative)</h2>

<div class="container">
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">(Course name)</h3>
            </div>
            <div class="panel-body">
                <h2>Example body text</h2>
                <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                <a href="#" class="btn btn-info">Info</a>
            </div>
        </div>
    </div>
</div>
