@model IEnumerable<CourseManagmentSystem.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Course Management System</h2>
<blockquote>
    <p>Through the power of self-education you can be anything you want to be or do anything you want to do. Self-education power does not require money, fixed time or fixed life style. Options are extremely flexible. Rewards are unlimited. You can control your destiny.</p>
    <small>Bob Webb</small>
</blockquote>

@foreach (var course in Model)
{
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.DisplayFor(model => course.name)</h3>
            </div>
            <div class="panel-body">
                <div style="height: 100px;  overflow: hidden">
                    <p>@Html.DisplayFor(model => course.description)</p>
                </div>
                <br />
                <a href="@Url.Action("Details", "Course", new { id = course.CourseID })" class="btn btn-info">More</a>
            </div>
        </div>
    </div>

}
<br style="clear: both;">
