@model CourseManagementSystem.Models.CheckCourseAnswersViewModel
@{
    ViewBag.Title = "Check";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb" style="background-color: white; padding-bottom:0px; margin-bottom:7px;">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink(Model.Course.Name, "Edit", "Course", new { id = Model.Course.CourseId}, null)
    </li>
    <li class="active">Check answers</li>
</ul>

<hr />

<h2>Answers</h2>
<h3>@Model.Course.Name</h3>

<div class="panel-body" style="padding:0px;background-color: #446e9b">
    @foreach (var answer in Model.Answers)
    {
        Html.RenderPartial("~/Views/QuestionAnswer/Check.cshtml", answer);
    }
</div>

